body,
ul,
li {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: calc(100vh - 40px);
  padding: 20px 0;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}
